/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* FONTS */


.container {
	width: 1200px;
	margin: 0 auto;
	position: relative;
	z-index: 20;
}

header {
	height: 265px;
}

.logo {
	margin: 0;
	padding: 30px 0 0 0;
}

.video {
	height: 265px;
	width: 100%;
}

.video a {
	color: white;
	font-family: 'PFDinTextCompProRegular', sans-serif;
	font-size: 30px;
	text-decoration: none;
	position: relative;
}

.video a img {
	position: relative;
	left: -3px;
}


.hero {
	height: 240px;
}

.hero h2 {
	margin: 0 0 30px;
	padding: 0;
	color: white;
	font-family: 'PFDinTextCompProRegular', sans-serif;
	font-size: 36px;
}

.hero a {
	border: 3px solid black;
	padding: 10px 20px;
	text-align: center;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	background: white;
	
	color: black;
	font-family: 'PFDinTextCondProMediumRegular', sans-serif;
	font-size: 18px;
	
	text-transform: uppercase;
}

.social {
	height: 50px;
}

.social .item {
	float: left;
	margin-right: 20px;
}

.menu {
	min-height: 90px;
	color: #c7c7c7;
	text-transform: uppercase;
	font-family: 'PFDinTextCondProMediumRegular', sans-serif;
	font-size: 22px;
}

.menu nav {
	float: left;
	margin-right: 40px;
	height: 40px;
}

.menu nav li {
	float: left;
	margin-right: 15px;
	border-bottom: 2px solid transparent;
}

.menu nav li a {
	color: black;
	font-family: 'PFDinTextCondProMediumRegular', sans-serif;
	font-size: 22px;
}

.menu nav li a:hover {
	color: #0c00ff;
}

.menu nav li.current {
	border-bottom: 2px solid black;
}

.copyright {
	float: right;
	margin-left: -40px;
}

#gallery {
	position: absolute;
	top: 0; left: 0;
	z-index: 10;
	width: 100%;
	min-width: 1200px;
	height: 880px;
	overflow: hidden;
}

#gallery .slide {
	position: absolute;
	height: 730px;
	width: 100%;
	overflow: hidden;
	top: 0; left: 0;
	z-index: 9;
}



#gallery .slide .bg {
	position: absolute;
	width: 100%;
	min-width: 1200px;
	z-index: 7;
}

#gallery .slide .phone {
	position: absolute;
	right: 100px;
	bottom: -60px;
	z-index: 8;
}

#gallery .slide-1 {
	position: absolute;
	height: 800px;
	width: 100%;
	overflow: hidden;
	top: 0; left: 0;
	z-index: 9;
}

#gallery .slide-1 .h730 {
	position: absolute;
	top: 0; left: 0;
	height: 730px;
	width: 100%;
	overflow: hidden;
}

#gallery .slide-1 .phone {
	z-index: 11;
	right: 100px;
	bottom: 10px;
}


#mask {
	position:absolute;
	z-index:9000;
	background-color:#000;
	display:none;
	top: 0; left: 0;
}
   
#box .window {
	position:fixed;
	width:440px;
	height:200px;
	display:none;
	z-index:9999;
	padding:20px;
}


/* INNER PAGE */
.content {

}

.content h1 {
	color: black;
	font-family: 'PFDinTextCompProRegular', sans-serif;
	font-size: 55px;
	text-transform: uppercase;
	margin: 30px 0 10px;
}

.content p {
	color: black;
	font-family: 'PFDinTextCompProRegular', sans-serif;
	font-size: 30px;
	line-height: 1.2em;
	margin: 10px 0 20px;
}

.content a {
	color: #0000ff;
}


.cols {

}

.col {
	float: left;
	width: 270px;
	margin-right: 20px;
}

.col h3 {
	font-family: 'PFDinTextCompProRegular', sans-serif;
	font-size: 24px;
	margin: 30px 0 10px;
	text-transform: uppercase;
}

.col p {
	font-family: monospace;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 1em;
}

.col a {
	color: #0000ff;
	font-family: monospace;
	font-size: 14px;
	font-weight: bold;
}


.thumb {
	width: 210px;
	/* height: 300px; */
	margin-right: 85px;
	float: left;
}

.thumb h3 {
	font-family: 'PFDinTextCompProRegular', sans-serif;
	font-size: 24px;
	margin: 0;
	text-transform: uppercase;
}

.thumb p {
	font-family: monospace;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
}

 
 
/* Customize your modal window here, you can add background image too */
#box #dialog {
	width:800px;
	height:450px;
	background-color: white;
	padding: 5px;
}

#dialog .close {
	position: absolute;
	top: -55px;
	right: 0;
}


@media only screen and (min-width: 35em) {
  

}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
